<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>奡翀网址导航</title>
    <base target="_blank">  <!-- 所有链接在新窗口打开 -->
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="js/main.js" charset="utf-8"></script>
    <script src="js/vue.js" charset="utf-8"></script>
    <script src="js/web-data.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- 边栏 -->
      <div class="side-bar">
        <ul>
          <li id="program" class="side-bar-active">
              <i class="iconfont">&#xe649;</i>
              <span>编程</span>
          </li>
          <li id="design">
              <i class="iconfont">&#xe612;</i>
              <span>设计</span>
          </li>
          <li id="course">
              <i class="iconfont">&#xe619;</i>
              <span>教程</span>
          </li>
          <li id="tools">
              <i class="iconfont">&#xe619;</i>
              <span>工具</span>
          </li>
          <li id="bbs">
              <i class="iconfont">&#xe60d;</i>
              <span>论坛</span>
          </li>
          <li id="blog">
              <i class="iconfont">&#xe6ae;</i>
              <span>博客</span>
          </li>
          <li id="media">
              <i class="iconfont">&#xe600;</i>
              <span>影音</span>
          </li>
          <li id="map">
              <i class="iconfont">&#xe603;</i>
              <span>地图</span>
          </li>
          <li id="app">
              <i class="iconfont">&#xe6dc;</i>
              <span>应用</span>
          </li>
          <li id="search">
              <i class="iconfont">&#xe61d;</i>
              <span>搜索</span>
          </li>
          <li id="others">
              <i class="iconfont">&#xe742;</i>
              <span>其他</span>
          </li>
          <li id="about">
              <i class="iconfont">&#xe620;</i>
              <span>关于</span>
          </li>

        </ul>
      </div>
      <!-- 主体内容 -->
      <div class="content" id="content">
        <!-- 搜索 -->
        <div class="search-wrap">
          <!-- 谷歌搜索 -->
          <div class="search-box">
            <a href="https://www.google.com">
              <div class="search-logo search-logo-g"></div>
            </a>
            <form class="form" id="g-search-form" action="https://www.google.com/search?" method="get">
              <input type="search" name="q" value="" class="search-text" id="g-search-input">
              <input type="submit" name="" value="" class="search-btn">
            </form>
          </div>
          <!-- 百度搜索 -->
          <div class="search-box">
            <a href="https://www.baidu.com">
              <div class="search-logo search-logo-b"></div>
            </a>
            <form class="form" id="b-search-form" action="https://www.baidu.com/s" method="get">
              <input type="search" name="wd" value="" class="search-text" id="b-search-input">
              <input type="submit" name="" value="" class="search-btn">
            </form>
          </div>
        </div>
        <!-- 编程网站 -->
        <div class="webside-wrap program">
          <ul>
            <li v-for="data in program"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 设计网站 -->
        <div class="webside-wrap design display-none">
          <ul>
            <li v-for="data in design"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 教程网站 -->
        <div class="webside-wrap course display-none">
          <ul>
            <li v-for="data in course"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 在线工具 -->
        <div class="webside-wrap tools display-none">
          <ul>
            <li v-for="data in tools"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 论坛网站 -->
        <div class="webside-wrap bbs display-none">
          <ul>
            <li v-for="data in bbs"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 博客网站 -->
        <div class="webside-wrap blog display-none">
          <ul>
            <li v-for="data in blog"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 影音网站 -->
        <div class="webside-wrap media display-none">
          <ul>
            <li v-for="data in media"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 地图网站 -->
        <div class="webside-wrap map display-none">
          <ul>
            <li v-for="data in map"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 应用下载 -->
        <div class="webside-wrap app display-none">
          <ul>
            <li v-for="data in app"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 搜索网站 -->
        <div class="webside-wrap search display-none">
          <ul>
            <li v-for="data in search"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 其他网站 -->
        <div class="webside-wrap others display-none">
          <ul>
            <li v-for="data in others"><a class="webside" :href="data.url" :title="data.url">
              <div class="icon"><img :src="data.img" :alt="data.title"></div>
              <span>{{data.title}}</span>
            </a></li>
          </ul>
        </div>
        <!-- 关于 -->
        <div class="about display-none">
          <div class="about-headicon">
            <img src="images/头像.png" alt="">
          </div>
          <div class="about-name">
            Aochong Zhang
          </div>
          <div class="about-connection">
            <div class="connection-icon">
              <a href="https://github.com/AochongZhang/Web-Nav/">
                <img src="images/about-源代码.png" alt="">
              </a>
            </div>
            <div class="connection-icon">
              <a href="https://github.com/AochongZhang/">
                <img src="images/about-github.png" alt="">
              </a>
            </div>
            <div class="connection-icon">
              <a href="mailto:aochongzhang@gmail.com">
                <img src="images/about-email.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
